.hero-section {
  padding: 0 0 120px;

  @media (max-width: 767.98px) {
    padding: 0 0 120px;
  }

  @media (max-width: 575.98px) {
    padding: 0 0 55px;
  }

  .container {
    background: url(../images/home/home-hero-image.svg) no-repeat scroll center right transparent;

    @media (max-width: 1199.98px) {
      background-size: 40vw;
    }

    @media (max-width: 991.98px) {
      background-position: top right;
    }

    @media (max-width: 767.98px) {
      background-position: top center;
      padding-top: 40vw;
    }

    @media (max-width: 575.98px) {
      padding-top: 60vw;
      background-size: 70vw;
    }
  }

  h1 {
    margin-bottom: 30px;
    max-width: 970px;
    width: 80%;

    @media (max-width: 1199.98px) {
      max-width: 870px;
      width: 70%;
    }

    @media (max-width: 991.98px) {
      max-width: 670px;
    }

    @media (max-width: 767.98px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .text {
    font-family: $ruberoid;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.22px;
    line-height: 26px;
    width: 80%;
    max-width: 680px;
    margin-bottom: 50px;

    @media (max-width: 767.98px) {
      font-size: 14px;
      line-height: 21px;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .button-simple,
  .button-white,
  .button-icon,
  .button-external {
    margin-right: 20px;

    @media (max-width: 575.98px) {
      margin-bottom: 20px;
    }
  }
}