.community-page {
	position: relative;
	background: url(../images/BG/technology.png) no-repeat scroll top 400px right transparent;
	background-size: 600px;
	z-index: 1;

	@media (max-width: 1199.98px) {
		background-position: top 520px right;
		background-size: 600px;
	}

	@media (max-width: 991.98px) {
		background-position: top 250px right;
		background-size: 800px;
	}

	@media (max-width: 767.98px) {
		background-position: top 600px right;
		background-size: 600px;
	}

	@media (max-width: 575.98px) {
		background-position: -100px 250px;
		background-size: 800px;
	}

	&:before {
		background: url(../images/community/community.png) no-repeat scroll top right transparent;
		background-size: contain;
		top: 30px;
		right: 0;
		left: 55%;
		position: absolute;
		content: "";
		width: 560px;
		height: 560px;
		z-index: 0;

		@media (max-width: 1199.98px) {
			width: 460px;
			height: 460px;
			top: 30px;
			right: 60px;
			left: unset;
		}

		@media (max-width: 991.98px) {
			width: 380px;
			height: 380px;
			top: 70px;
			right: 50px;
		}

		@media (max-width: 767.98px) {
			width: 72%;
			height: 72%;
			max-width: 450px;
			right: unset;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.hero {
		@media (max-width: 767.98px) {
			padding-top: 455px;
		}

		@media (max-width: 575.98px) {
			padding-top: 70vw;
		}

		.text {
			font-family: $ruberoid;
			font-weight: 500;
			font-size: 18px;
			color: #000000;
			letter-spacing: 0.22px;
			line-height: 26px;
			max-width: 478px;
			margin-bottom: 50px;

			@media (max-width: 991.98px) {
				max-width: 365px;
			}

			@media (max-width: 767.98px) {
				font-size: 14px;
				line-height: 21px;
				width: 100%;
				max-width: 478px;
				margin-bottom: 30px;
			}
		}
	}

	main {
		padding-top: 100px;
	}

	section {
		padding-top: 50px;
		padding-bottom: 50px;

		@media (max-width: 575.98px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}

	.main {
		max-width: 600px;

		@media (max-width: 991.98px) {
			max-width: 350px;
		}

		@media (max-width: 767.98px) {
			max-width: 100%;
		}

		@media (max-width: 575.98px) {
			max-width: 100%;
		}
	}

	.description {
		font-family: $inter;
		font-weight: 300;
		font-size: 16px;
		color: #000000;
		letter-spacing: 0;
		line-height: 24px;
		margin-top: 22px;
		max-width: 400px;

		@media (max-width: 575.98px) {
			max-width: 100%;
		}
	}

	.social-channels {
		padding-top: 100px;

		@media (max-width: 767.98px) {
			padding-top: 60px;
		}

		.title {
			max-width: 452px;
		}
	}

	.explore {
		padding-top: 70px;
		padding-bottom: 60px;

		.title {
			max-width: 452px;
		}
	}

	.ecosystem {
		padding-bottom: 100px;

		@media (max-width: 767.98px) {
			padding-bottom: 70px;
		}

		.title {
			max-width: 452px;
			margin-bottom: 30px;

			@media (max-width: 767.98px) {
				margin-bottom: 16px;
			}
		}

		.text {
			margin-bottom: 30px;
		}

		.image-wrapper {
			margin-left: auto;
			margin-right: auto;

			@media (max-width: 991.98px) {
				max-width: 70%;
			}

			@media (max-width: 767.98px) {
				max-width: 80%;
			}

			@media (max-width: 575.98px) {
				max-width: 90%;
			}
		}
	}

	.connect,
	.concepts,
	.faqs {
		.description {
			max-width: 350px;

			@media (max-width: 575.98px) {
				max-width: 100%;
			}
		}
	}

	.button-simple,
	.button-white,
	.button-icon,
	.button-external {
		margin-right: 20px;

		@media (max-width: 575.98px) {
			margin-bottom: 20px;
		}
	}

	.min-width-50 {
		min-width: 50%;
	}

	.min-width-33 {
		min-width: 33%;
	}
}