.run-a-node {
	position: relative;
	z-index: 1;
	background: url(../images/BG/technology.png) no-repeat scroll top 500px right transparent;

	@media (max-width: 1199.98px) {
		background-position: top 320px right;
	}

	@media (max-width: 991.98px) {
		background-position: top 350px right;
	}

	@media (max-width: 767.98px) {
		background-position: top 450px right;
	}

	@media (max-width: 575.98px) {
		background-position: -210px 450px;
	}

	main {
		z-index: 0;
		// background: url(../images/BG/home.png) no-repeat scroll top 1800px left transparent;

		@media (max-width: 1199.98px) {
			background-position: top 2000px left;
		}

		@media (max-width: 991.98px) {
			background-position: top 2000px left;
		}

		@media (max-width: 767.98px) {
			background-position: top 3400px left;
		}

		@media (max-width: 575.98px) {
			background-position: top 3300px left;
		}
	}

	h1.main {
		max-width: 650px;

		@media (max-width: 1199.98px) {
			max-width: 400px;
		}
	}

	main {
		padding-top: 50px;

		@media (max-width: 1199.98px) {
			padding-top: 20px;
		}
	}

	section {
		padding-top: 50px;
		padding-bottom: 50px;

		@media (max-width: 575.98px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}

	.hero .container {
		position: relative;

		&:before {
			background: url(../images/run-a-node/run-a-light-node-bg.png) no-repeat scroll top right transparent;
			background-size: contain;
			top: -227px;
			right: -40px;
			position: absolute;
			content: "";
			width: 190%;
			height: 190%;
			z-index: -1;
			max-width: 1100px;

			@media (max-width: 1600px) {
				width: 200%;
				height: 200%;
				top: -276px;
				right: -60px;
			}

			@media (max-width: 1199.98px) {
				width: 170%;
				height: 170%;
				top: -196px;
				right: -40px;
				left: unset;
			}

			@media (max-width: 991.98px) {
				width: 170%;
				height: 170%;
				top: -197px;
				max-width: 600px;
				right: -30px;
			}

			@media (max-width: 767.98px) {
				width: 190%;
				height: 190%;
				top: -314px;
				max-width: 80vw;
				right: -20px;
			}

			@media (max-width: 575.98px) {
				top: -313px;
				width: 180%;
				height: 180%;
				max-width: 80vw;
				right: -10px;
				max-width: unset;
			}
		}
	}

	.description {
		font-family: $inter;
		font-weight: 300;
		font-size: 16px;
		color: #000000;
		letter-spacing: 0;
		line-height: 24px;
		margin-top: 22px;
		text-align: left;
	}

	.hero {
		@media (max-width: 767.98px) {
			padding-top: 210px;
			padding-bottom: 70px;
		}

		@media (max-width: 575.98px) {
			padding-top: 213px;
		}

		.text {
			font-family: $ruberoid;
			font-weight: 500;
			font-size: 18px;
			color: #000000;
			letter-spacing: 0.22px;
			line-height: 26px;
			max-width: 350px;
			margin-bottom: 50px;
			text-wrap: balance;

			@media (max-width: 767.98px) {
				font-size: 14px;
				line-height: 21px;
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}

	.join-the-network {
		@media (max-width: 767.98px) {
			padding-top: 70px;
		}
	}

	.join-the-network,
	.light-nodes {
		@media (min-width: 768px) {
			h2 {
				text-align: center;
				width: fit-content;
			}
		}

		.icon-card {
			border-radius: 8px;
			border: 1px solid rgba(120, 120, 120, 0.15);
			background: rgba(255, 255, 255, 0.5);
			box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03);
			backdrop-filter: blur(22px);

			.logo-container {
				position: relative;
				width: 40px;
				height: 40px;
				margin-bottom: 20px;

				.gatsby-image-wrapper {
					overflow: visible;

					&:before {
						content: "";
						position: absolute;
						height: 100%;
						width: 100%;
					}
				}
			}

			.title {
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}

			.text {
				margin-top: 10px;
				margin-bottom: 16px;
			}

			.link-wrapper {
				margin-top: auto;

				.button {
					margin-top: 0px;
					margin-bottom: 0px;
					padding: 4px 0px;
				}
			}
		}
	}

	.light-nodes {
		@media (min-width: 768px) {
			padding-bottom: 150px;
		}

		h2 {
			text-align: left;
		}
	}

	.button-simple,
	.button-white,
	.button-icon,
	.button-external {
		margin-right: 20px;

		@media (max-width: 575.98px) {
			margin-bottom: 20px;
		}
	}

	.min-width-50 {
		min-width: 50%;
	}

	.min-width-33 {
		min-width: 33%;
	}

	.what-is-a-node {
		padding-top: 50px;
		padding-bottom: 0px;

		@media (max-width: 767.98px) {
			padding-top: 50px;
		}

		@media (max-width: 575.98px) {
			padding-top: 0px;
		}

		.image-box--node {
			padding: 60px 0px 0px 8px;

			@media (max-width: 767.98px) {
				padding: 0px 0px 0px 8px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.text-box {
			.title {
				margin-bottom: 30px;
			}
		}
	}
}